<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yogyakartaandroidcommunity.yac">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaptureAbsenActivity"
            android:label="@string/title_scanner"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yogyakartaandroidcommunity.yac.MainActivity" />
        </activity>
        <activity
            android:name=".NewProfilActivity"
            android:label="@string/title_new_member"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yogyakartaandroidcommunity.yac.MainActivity" />
        </activity>
        <activity
            android:name=".ProfilMemberActivity"
            android:label="@string/title_profil_member"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yogyakartaandroidcommunity.yac.MainActivity" />
        </activity>
        <activity
            android:name=".DaftarHadirActivity"
            android:label="@string/title_daftar_hadir"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yogyakartaandroidcommunity.yac.MainActivity" />
        </activity>
    </application>

</manifest>